html
  head
    link(href="/public/css/style.css", rel="stylesheet", type="text/css")
  body

    h1 Merci #{firstname} #{lastname}!
    p Une facture d'un montant de #{amount} vous sera addressée dans les plus brefs délais à l'adresse : #{address}. La facture au format électronique vous a également été envoyé sur votre adresse mail (#{email}).
    p Merci d'avoir passé commande chez nous !